div.dt-button-collection {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px !important;
    margin-top: 1px;
    padding: 8px 5px 4px 8px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
    overflow: hidden;
    z-index: 2002;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 30%);
    box-sizing: border-box;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0em !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 3.5rem !important;
    display: inline-block;
}
.btn-1 {
    background: #1735f8;
    background: linear-gradient(0deg, #0059fe 0%, #040ce9 100%);
    border: none;
}

.btn-1:hover {
    background: #1735f8;
    background: linear-gradient(0deg, #0059fe 0%, #040ce9 100%);
}
.custom-btn {
    background: #0dcaf0;
    width: 170px;
    height: 40px;
    margin-bottom: 1.3rem;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  div.dt-buttons {
    padding-top: 0.5rem !important;
    position: relative;
    float: left;
}